body {
    width: 50px;
    background-color: #343a40;
}

.h5 {
    color: #ffc107;
}

.btn {
    margin: 3px auto;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 1.5em;
}

.speed {
    background-color: lightblue;
}

.speed:hover {
    background-color: aqua;
}

.reset {
    background-color: lightcoral;
}

.reset:hover {
    background-color: coral;
}